@import './../variables';

.left {
  color: white;
  background-color: $black;
  width: 118px;
  height: 90.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &_nav {
    display: flex;
    flex-direction: column;
    & img {
      margin-bottom: 20px;
    }
  }
}
