@import './../variables';

.home {
  &_firstname {
    color: $red;
  }
  &_infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    &_keyData {
      width: 20%;
    }
    &_activities {
      width: 80%;
      margin-right: 30px;
      &_weight {
        height: 320px;
        background-color: $grey-light;
        border-radius: 5px;
      }
      &_part2 {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        &_average-sessions,
        &_performances,
        &_score {
          width: 30%;
          height: 265px;
          overflow: hidden;
          border-radius: 5px;
        }
        &_average-sessions {
          background-color: $red;
          color: white;
        }
        &_performances {
          background-color: $blue-dark;
          color: white;
          display: flex;
          align-items: center;
        }
        &_score {
          background-color: $grey-light;
        }
      }
    }
  }
}
